*{
    box-sizing:border-box;
}

canvas{
    position:absolute;
    z-index:-3;
}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    min-width:100vw;
    display:grid;
    place-items:center;
    position:relative;
}

iframe{
    position:absolute;
    top:10rem;
    opacity:0;
    transition: all 2s ease-in-out;
}

.nameBar{
    width:40vw;
    height:40vh;
    padding:6rem;
    background:white;
    border-radius: 8px;
    color: gray;
    display:grid;
    grid-template-rows: 4fr 1fr 1fr;
    place-items:center;
    position:absolute;
}

.chatContainer{
    position:fixed;
    background:darkcyan;
    bottom:0;
    width:100vw;
    height:20%;
    padding:2rem;
    display:grid;
    grid-template-rows: 1fr 4fr;
}
.chatMessages{
    overflow:scroll;
    background:rgba(255,255,255,.4);
    padding:2rem;
}
.chatInputContainer{
    display:grid;
    grid-template-columns: 7fr 1fr;
    gap:1rem;
}
.hidden{
    visibility:hidden;
}
.visible{
    opacity:1;
}
.controlsContainer{
    position:fixed;
    width:100vw;
    height:10%;
    top:0;
    left:0;
    display:grid;
    grid-template-columns:1fr;
}